<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ nom_app }} - Page d'accueil</title>
</head>
<body>
  <h1>Bienvenue sur {{ nom_app }} !</h1>

</body>
<form method="get">
    <label>
      De quelle ville souhaitez-vous connaître la météo ?:
      <input name="submitted-ville" autocomplete="Paris" />
    </label>
    <label>
        <fieldset>
            <legend>Sélectionnez une condition météo :</legend>
            {% for condition in météo %}
                <label>
                    <input type="checkbox" name="meteo_selection" value="{{ condition }}"> {{ condition }}
                </label><br>
            {% endfor %}
        </fieldset>
    </label>
    <button>Obtenir météo</button>
</form>
</html>