<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ nom_app }} -</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/frontpicture.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="title-box">
            <h1>{{ nom_app }}</h1>
        </div>
        <div class="subtitle-box">
            <p>La p'tite appli M-M qui ensoleille votre vie !</p>
        </div>
        <div class="microphone-container">
            <button id="microphoneButton" class="microphone-button">
                <img src="{{ url_for('static', path='images/microbouton.png') }}" alt="Microphone">
            </button>
        </div>
        <div id="status"></div>
        <div id="recognizedText" style="display: none;">
            <div class="reponse-box">
            <p id="recognizedTextMessage"></p>
        </div>

        <div id="weatherButtonContainer" style="display: none;">
            <button id="weatherButton" class="weather-button">Cliquez pour voir votre météo</button>
        </div>
    </div>

    <script>
        let mediaRecorder;
        let microphoneButton = document.getElementById('microphoneButton');
        let statusDiv = document.getElementById('status');
        let recognizedTextDiv = document.getElementById('recognizedText');
        let recognizedTextMessage = document.getElementById('recognizedTextMessage');
        let weatherButtonContainer = document.getElementById('weatherButtonContainer');
        let weatherButton = document.getElementById('weatherButton');

        // Fonction pour démarrer l'enregistrement audio
        async function startRecording() {
            let audioChunks = [];
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.ondataavailable = event => audioChunks.push(event.data);
                mediaRecorder.onstop = async () => {
                    const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                    const formData = new FormData();
                    formData.append('file', audioBlob, 'recording.wav');
                    
                    const response = await fetch('/upload', {
                        method: 'POST',
                        body: formData
                    });
                    
                    if (response.ok) {
                        const result = await response.json();
                        statusDiv.textContent = result.message;
                        recognizedTextMessage.textContent = result.text;
                        recognizedTextDiv.style.display = 'block';
                        
                        microphoneButton.style.width = '6vw';
                        microphoneButton.style.height = '6vw';
                        microphoneButton.style.marginTop = '3vw';

                        let microphoneImg = microphoneButton.querySelector('img');
                        microphoneImg.style.width = '6vw';
                        microphoneImg.style.height = '6vw';
                        
                        weatherButtonContainer.style.display = 'block';
                    } else {
                        statusDiv.textContent = 'Erreur lors de l\'upload de l\'audio';
                    }
                };

                // Démarrer l'enregistrement
                mediaRecorder.start();
                statusDiv.textContent = 'Enregistrement en cours...';
                microphoneButton.disabled = true; // 
                setTimeout(() => {
                    mediaRecorder.stop(); // 
                    microphoneButton.disabled = false; 
                },  5000); 
            } catch (err) {
                statusDiv.textContent = 'Erreur d\'accès au microphone : ' + err;
            }
        }

        // Fonction pour afficher la météo (exemple, tu devras compléter l'API)
        function showWeather() {
            window.location.href = '/meteopage';  
        }

        microphoneButton.addEventListener('click', startRecording);
        weatherButton.addEventListener('click', showWeather);
    </script>
</body>
</html>
